@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lora', serif;
  background-color: #756213;
  background-image: linear-gradient(315deg, #756213 0%, #000000 74%);

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.cards {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 400ms ease-in;
}

.cards h3 {
  font-size: 40px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.cards.active {
  flex: 5;
}

.cards.active h3 {
  opacity: 1;
  transition: opacity 0.2s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .cards:nth-of-type(4),
  .cards:nth-of-type(5) {
    display: none;
  }
} ;
